<!DOCTYPE html>
<html>
  <head>
    <title>S-tasks</title>
     <base href="/home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sb-admin.css">
    <link href="css/card.css" rel="stylesheet">
    <link href="css/circle.css" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" href="css/component.css" />
     <link href="css/s-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="node_modules/dragula/dist/dragula.css">
     <link href="node_modules/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- Polyfills -->
    <script src="https://unpkg.com/core-js/client/shim.min.js"></script>
    <!-- Update these package versions as needed -->
    <script src="https://unpkg.com/zone.js@0.7.4?main=browser"></script>
    <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>

    <!-- Polyfill(s) for older browsers -->
   <!-- <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
  
    <script src="node_modules/systemjs/dist/system.src.js"></script>-->
<link href="https://fonts.googleapis.com/css?family=Asap|Lora|Open+Sans|Vollkorn" rel="stylesheet">
  <style>
    body {
     font-family: 'Lato', sans-serif;
    }
  </style>

  <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="views/systemjs.config.js"></script>

    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>

  </head>

  <body style="background:white">
    <my-app><img  class="col-md-offset-6 a-margin-" src="img/loader.gif" /></my-app>
  </body>
 <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</html>
