.a-margin{
   margin:auto;
}

.strip{
    background: url(../img/1.png);
}

.transparent{
    background: transparent;
}
/* form type*/
.s-form-type-1{

    padding: 10px 40px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin:20px 0px 20px 0;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25)
}
.s-form-type-1 fieldset{
    border: none;
}
.s-form-type-1 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.s-form-type-1 label {
    display: block;
    margin-bottom: 8px;
}

.s-form-type-1 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 0px 15px;
}

.s-form-type-1 input[type="submit"],
.s-form-type-1 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
	border-radius: 10px;
}
.s-form-type-11 
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.s-form-type-11 input[type="submit"]:hover,
.s-form-type-11 input[type="button"]:hover,
.s-form-type-11 button:hover
{
    background: #109177;
}

.s-style1-btn{
    


}

.s-bgcolor-lightBlue{
    background: #e0eef5 !important;
}

/*end form */

/*start buttons*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General button style (reset) */
.sbtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 23px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.sbtn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.sbtn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.icon-envelope:before {
	content: "\e000";
}

.icon-cart:before {
	content: "\e007";
}

.icon-cart-2:before {
	content: "\e008";
}

.icon-heart:before {
	content: "\e009";
}

/* Filled heart */
.icon-heart:after,
.icon-heart-2:before {
	content: "\e00a";
}

.icon-star:before {
	content: "\e00b";
}

/* Filled star */
.icon-star:after,
.icon-star-2:before {
	content: "\e00c";
}

.icon-arrow-right:before {
	content: "\e00d";
}

.icon-arrow-left:before {
	content: "\e003";
}

.icon-truck:before {
	content: "\e00e";
}

.icon-remove:before {
	content: "\e00f";
}

.icon-cog:before {
	content: "\e010";
}

.icon-plus:before,
.icon-plus:after {
	content: "\e011";
}

.icon-minus:before {
	content: "\e012";
}

.bh-icon-smiley:before {
	content: "\e001";
}

.bh-icon-sad:before {
	content: "\e002";
}

.icon-file:before {
	content: "\e004";
}

.icon-remove-2:before {
	content: "\e005";
}


/*button  type1*/
.btn-4 {
	border-radius: 50px;
	border: 3px solid #17954c;
	color: #17954c;
	overflow: hidden;
}

.btn-4:active {
	border-color: #17954c;
	color: #fff;
}

.btn-4:hover {
	background: #24b662;
		color: #fff;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #17954c;
}

/* Button 4a */
.btn-4a:before {
	left: 130%;
	top: 0;
}

.btn-4a:hover:before {
	left: 80%;
}

/* Button 4b */
.btn-4b:before {
	left: -50%;
	top: 0;
}

.btn-4b:hover:before {
	left: 10%;
}

/* Button 4c */
.btn-4c:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-4c:hover:before {
	left: 80%;
	opacity: 1;
}

/* Button 4d */
.btn-4d:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-4d:hover:before {
	left: 10%;
	opacity: 1;
}
